@font-face {
  font-family: 'SF Pro Display';
  src:
    local('SF Pro Display Thin'),
    url('SFProDisplay-Thin.woff2') format('woff2'),
    url('SFProDisplay-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src:
    local('SF Pro Display Ultralight'),
    url('SFProDisplay-Ultralight.woff2') format('woff2'),
    url('SFProDisplay-Ultralight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src:
    local('SF Pro Display Light'),
    url('SFProDisplay-Light.woff2') format('woff2'),
    url('SFProDisplay-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src:
    local('SF Pro Display Light'),
    url('SFProDisplay-Regular.woff2') format('woff2'),
    url('SFProDisplay-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src:
    local('SF Pro Display Medium'),
    url('SFProDisplay-Medium.woff2') format('woff2'),
    url('SFProDisplay-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src:
    local('SF Pro Display Semibold'),
    url('SFProDisplay-Semibold.woff2') format('woff2'),
    url('SFProDisplay-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src:
    local('SF Pro Display Bold'),
    url('SFProDisplay-Bold.woff2') format('woff2'),
    url('SFProDisplay-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src:
    local('SF Pro Display Black'),
    url('SFProDisplay-Black.woff2') format('woff2'),
    url('SFProDisplay-Black.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src:
    local('SF Pro Display Heavy'),
    url('SFProDisplay-Heavy.woff2') format('woff2'),
    url('SFProDisplay-Heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
